body{
    margin: 0px;
    padding: 1px;
}

/* INPUT TEXT STYLES*/

.input{
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: coral;
}

.inputField{
    width: 50%;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.inputField > input{
    left: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    font-size: 17px;
    box-sizing: border-box;
}

.inputField > label{
    z-index: 3;
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 0px;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(201, 20, 20);
    pointer-events: none;
    transition: 500ms ease-in;
}


.inputField > input:hover + label{
    left: 0px;
    width: 100%;
}

.inputField > input:active + label{
    left: 0px;
    width: 100%;
}

.inputField > input:valid + label{
    left: 0px;
    width: 100%;
}

/*ADDING BUTTON*/

.addBtn{
    pointer-events: hand;
    width: 60px;
    height: 30px;
    background-color: coral;
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.addBtn:hover{
    background-color: white;
    color: coral;
}

/* TODO LIST ITEMS */

.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.item{
    width: 80%;
    height: 40px;
    color: white;
    background-color: coral;
    font-size: 20px;
}

.item p{
    display: inline-block;
}
